@import '../../../../variables.scss';

.product-form {
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
}

.highlight.small {
    cursor: pointer;
    margin-bottom: 30px;
    opacity: .7;

    .action {
        color: $color-white;
        font-weight: 800;
        margin-left: auto;
    }
}

.mat-input-container,
.mat-raised-button {
    display: block;
}

.submit {
    display: inline-block;
    margin: 30px 10px 0 0;
}

.currency-label,
.price,
.weight {
    display: inline-block;
}

.mat-slide-toggle,
ckeditor {
    display: block;
    margin-top: 30px;
}

.thumbnail {
    display: block;
    margin-top: 10px;
    width: 100px;
}

.mat-upload-button {
    margin-top: 10px;
}

.native-upload {
    display: none;
}

.no-image {
    font-size: 0.8em;
    margin: 5px 0 0 38px;
}

.delete-image {
    color: $color-red;
    cursor: pointer;
    font-size: 0.8em;
    margin: 5px 0 0 0;
}