.button-container {
    h2 {
        display: inline-block;
    }

    button {
        float: right;
        margin: 18px 30px 30px 30px;
    }
}

.admin {
    .content {
        display: inline-block;
        margin-top: 13px;
        vertical-align: top;
        width: calc(100% - 210px);
    }

    .active {
        display: inline-block;
        text-align: center;
        width: 200px;

        span {
            font-size: .8em;
        }

        button {
            margin: 10px 0 0 0;
        }
    }
}

.admin-photo {
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    width: 45px;
}