<div class="container">
    <div class="button-container">
        <h2>Admins</h2>
        <button md-raised-button routerLink="/admin/add-admin">Add an Admin</button>
    </div>
    <md-card class="admin" *ngFor="let admin of admins | async">
        <div class="content">
            <img src="{{ admin.photoURL }}" class="admin-photo">
            {{admin.email}}
        </div>
        <div class="active">
            {{ admin.role }}
            <span *ngIf="admin.uid">(active)</span>
            <span *ngIf="!admin.uid">(inactive)</span>
            <button md-raised-button (click)="deleteAdmin(admin.$key)">Delete</button>
        </div>
    </md-card>
</div>