@import '../../../variables.scss';

.cart-icon {
    @extend %transition;
    cursor: pointer;
    transform: translateY(5px);
    transition-property: color;

    &:hover {
        color: $color-main;
    }
}

.icon-container {
    display: inline-block;
    position: relative;
}

.cart-counter {
    bottom: 3px;
    color: $color-white;
    font-size: 8px;
    pointer-events: none;
    position: absolute;
    right: 9px;
}