<div class="login-frame">
    <div *ngIf="!(admin | async)?.uid">
        <button md-raised-button class="bw block google-login" (click)="loginWithGoogle()">
            <img src="../../assets/google-icon.png">
            <span *ngIf="showSignUp === false">Login with Google</span>
            <span *ngIf="showSignUp === true">Sign Up with Google</span>
        </button>
        <div class="block-center">or</div>
    </div>
    <div *ngIf="!(admin | async)?.uid">
        <md-input-container class="block">
            <input mdInput type="email" placeholder="email" [(ngModel)]="newEmail">
        </md-input-container>
        <md-input-container class="block">
            <input mdInput type="password" placeholder="password" minlength="6" [(ngModel)]="newPassword">
        </md-input-container>
        <button md-raised-button class="bw" (click)="loginWithEmail()" *ngIf="showSignUp === false">
            Login with Email
        </button>
    </div>
    <div *ngIf="!(admin | async)?.uid">
        <div *ngIf="showSignUp === false" class="sign-up-trigger">
            Don't have an account? <a routerLink="/register">Sign up</a>
        </div>
        <div *ngIf="showSignUp === true">
            <button md-raised-button class="bw" (click)="signUpWithEmail()">
                Sign Up with Email
            </button>
        </div>
    </div>
    <div *ngIf="showSignUp === true && !(admin | async)?.uid" class="sign-up-trigger">
        Already have an account? <a routerLink="/login">Log in</a>
    </div>
    <div class="hint block-center" *ngIf="!(admin | async)?.uid">
        You must be an approved admin to access the admin panel
    </div>
    <button md-button *ngIf="(admin | async)?.uid">Loading...</button>
</div>
