.login-frame {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

button {
    max-width: 50%;
}

button img {
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
}