<div class="button-container">
    <button md-raised-button routerLink="/admin/add-post">Add a Post</button>
</div>
<md-card class="post" *ngFor="let post of posts | async | sort:['-date']">
    <div class="content">
        <h3>{{post.title}}</h3>
        <div class="date">{{post.date | date }}</div>
        <p>{{post.description}}... <a href="{{post.link}}" target="_blank">Read More</a></p>
    </div>
    <div class="publish">
        <md-slide-toggle ngDefaultControl (change)="onChange($event, post.$key)" [(ngModel)]="post.published">
            <span *ngIf="!post.published">Publish</span>
            <span *ngIf="post.published">Un-Publish</span>
        </md-slide-toggle>
        <div class="edit">
            <button md-raised-button (click)="editPost(post.$key)">
                Edit
            </button>
            <button md-raised-button (click)="deletePost(post.$key)">
                Delete
            </button>
        </div>
    </div>
</md-card>