<div class="page-form">
    <h1>Add a Page</h1>

    <md-input-container class="block">
        <input mdInput placeholder="Page URL (without any slashes)" type="url" [(ngModel)]="newURL" required>
    </md-input-container>

    <md-input-container class="block">
        <input mdInput placeholder="Title" [(ngModel)]="newTitle" required>
    </md-input-container>

    <md-input-container class="block">
        <input mdInput placeholder="Body" [(ngModel)]="newBody" required>
    </md-input-container>

    <md-slide-toggle ngDefaultControl [(ngModel)]="newPublished">
        <span *ngIf="!newPublished">Publish</span>
        <span *ngIf="newPublished">Un-Publish</span>
    </md-slide-toggle>

    <button md-raised-button (click)="addPage(newURL, newTitle, newBody, newPublished)" class="block">Add Page</button>
</div>