.page-form {
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
}

button {
    margin-top: 30px;
}

.mat-input-container,
.mat-raised-button {
    display: block;
}

.mat-slide-toggle {
    margin-top: 20px;
}