@import 'variables';

.container {
    margin: 10px 30px 30px 30px;
    max-width: 100%;

    @include tablet {
        margin: 30px auto;
        max-width: 600px;
    }
}

h4 {
    margin-bottom: 5px;
}

.edit {
    float: right;
}

.confirm {
    display: block;
    margin-top: 40px;
}

.mat-progress-spinner {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

.verify-card {
    color: $color-main;
    display: inline-block;
    font-size: .9em;
    margin-left: 10px;
    vertical-align: middle;
}
