@import '../../../variables.scss';

.featured-image {
    max-width: 100%;
}

.quantity-label,
.quantity {
    display: inline-block;
}

.quantity-label {
    color: $color-grey;
    transform: translateY(-2px);
}

.quantity {
    width: 35px;
}