<div class="container" *ngIf="product" itemscope itemtype="http://schema.org/Product">
  <div class="product-left">
    <img [src]="product.thumbnail" *ngIf="product.thumbnail" class="featured-image" alt="{{product.title}}">
  </div>
  <div class="product-right">
    <h2 itemprop="name">{{product.title}}</h2>
    <meta itemprop="priceCurrency" content="USD" />
    <p itemprop="price">{{product.price | currency:'USD':true}}</p>
    <p [innerHTML]="product.description | safeHtml" itemprop="description"></p>
    <div class="quantity-label">Qty</div>
    <md-input-container class="quantity">
      <input mdInput type="number" min="1" [(ngModel)]="product.quantity">
    </md-input-container>
    <button md-raised-button (click)="addToCart(product)">
      <span *ngIf="!globalCart || !globalCart[product.$key]">Add to</span>
      <span *ngIf="globalCart && globalCart[product.$key]">Update</span>
       Cart
    </button>
  </div>
</div>
