.orders-header {
    margin: 30px 0 10px 0;
}

.order-left {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 49%;
}

.order-right {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 49%;
}

.item {
    display: inline-block;
    width: 50%;
}

.price,
.quantity,
.total {
    display: inline-block;
    width: 15%;
}

.order-summary {
    float: right;
    margin-top: 20px;
    width: 300px;
}

.subtotal-label,
.subtotal {
    display: inline-block;
    width: 48%;
}

.subtotal {
    text-align: right;
}
