.button-container h2 {
    display: inline-block;
}

.button-container button {
    float: right;
    margin: 18px 30px 30px 30px;
}

.order .content {
    display: inline-block;
    width: calc(100% - 220px);
}

.order .action {
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    width: 210px;
}

.view {
    text-align: center;
}

.view button {
    margin-top: 20px;
}