<div class="container">
  <div class="grid">
    <div class="grid-tile" *ngFor="let product of products | async | search: searchTerm">
      <md-card routerLink="/product/{{product.url}}" class="product">
        <img [src]="getProductImage(product)">
        <div class="product-content">
          <h3><a routerLink="/product/{{product.url}}">{{product.title}}</a></h3>
          <div class="price">{{product.price | currency:'USD':true }}</div>
        </div>
      </md-card>
    </div>
    <p class="block-center" *ngIf="searchTerm && !(products | async | search: searchTerm)?.length">No products</p>
  </div>
</div>