@import '../../../variables.scss';

.product {
    cursor: pointer;
    height: 235px;
    width: 83%;

    .price {
        color: $color-grey;
        font-size: 0.8em;
    }

    img {
        display: block;
        margin: 0 auto;
        max-height: 155px;
        max-width: 100%;
    }

    .product-content {
        display: block;
    }
}