<div class="customer-form">
    <h2>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Customer
    </h2>

    <mat-form-field class="block">
        <input matInput placeholder="Customer email" type="text" [(ngModel)]="newEmail">
    </mat-form-field>

    <button mat-raised-button (click)="addCustomer(newEmail)" class="block">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Save</span>
        Customer
    </button>
</div>