@import '../../../variables.scss';

.button-container {
    h2 {
        display: inline-block;
    }
}

.highlight {
    div {
        width: 25%;
    }
}

.approval {
    cursor: pointer;

    .content {
        display: inline-block;
        width: calc(100% - 220px);

        a {
            display: inline-block;
            width: 32.5%;
        }

        .date {
            color: $color-grey;
            display: inline-block;
            font-size: .8em;
            width: 33.5%;
        }

        .updated-by {
            display: inline-block;;
            font-size: .8em;
            margin-right: 20px;
            width: 25%;
        }
    }

    .actions {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 210px;
    }
}