<div class="container">
    <div class="button-container">
        <h2>Approvals</h2>
    </div>
    <h4>Products</h4>
    <section *ngFor="let product of productApprovals | async" class="approval-category">
      <md-card class="approval">
        <div class="content">
          {{ product.title }}
          <span class="date" *ngIf="product.dateUpdated">{{ product.dateUpdated | date }}</span>
          <span class="date" *ngIf="!product.dateUpdated">{{ product.dateAdded | date }}</span>
        </div>
        <div class="actions">
          <button md-raised-button>Approve</button>
          <button md-raised-button>Disapprove</button>
        </div>
      </md-card>
    </section>
</div>