@import '../../../../../variables.scss';

.post {
  cursor: pointer;
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 5px;
  }

  img {
    display: inline-block;
    margin-right: 20px;
    max-width: 100%;

    @include tablet {
      max-width: 150px;
    }
  }

  h3 {
    @include tablet {
      margin-top: 0;
    }
  }

  .post-content {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include tablet {
      width: calc(100% - 180px);
    }
  }

  .date {
    color: $color-grey;
    font-size: 0.8em;
  }

  button {
    float: right;
  }
}
