<div class="container" [ngClass]="{ 'category': router.url.includes('category'), 'categories': !router.url.includes('category') }">
  <h3><a routerLink="/category/{{ categoryObject.slug }}">{{ categoryObject.name }}</a></h3>
  <section class="grid">
    <span class="grid-tile" *ngFor="let productKey of categoryObject.products">
      <div *ngIf="(products | async | getKey: productKey)?.published" itemscope itemtype="http://schema.org/Product">
        <md-card routerLink="/product/{{ (products | async | getKey: productKey)?.url }}" class="product">
          <img [src]="getProductImage((products | async | getKey: productKey))" itemprop="image" alt="{{(products | async | getKey: productKey)?.title}}">
          <div class="product-content">
            <h3>
              <a routerLink="/product/{{ (products | async | getKey: productKey)?.url }}" itemprop="name">
                {{ (products | async | getKey: productKey)?.title }}
              </a>
            </h3>
            <meta itemprop="priceCurrency" content="USD" />
            <div class="price" itemprop="price">
              {{ (products | async | getKey: productKey)?.price | currency:'USD':true }}
            </div>
          </div>
        </md-card>
      </div>
    </span>
    <div class="grid-tile button-container">
      <span class="see-more">
        <button md-raised-button routerLink="/category/{{ categoryObject.slug }}">See more {{ categoryObject.name }}</button>
      </span>
    </div>
  </section>
</div>
<div *ngIf="(products | async) && router.url.includes('category')" class="bottom-cta">
  <button md-button routerLink="/">View All Categories</button>
</div>