<div class="container" [ngClass]="{ 'category': router.url.includes('category'), 'categories': router.url.includes('categories')}">
  <h3><a routerLink="/category/{{ categoryObject.slug }}">{{ categoryObject.name }}</a></h3>
  <section class="grid">
    <span class="grid-tile" *ngFor="let productKey of categoryObject.products">
      <div *ngIf="(products | async | getKey: productKey)?.published">
        <md-card routerLink="/product/{{ (products | async | getKey: productKey)?.url }}" class="product">
          <img [src]="getProductImage((products | async | getKey: productKey))">
          <div class="product-content">
            <h3><a routerLink="/product/{{ (products | async | getKey: productKey)?.url }}">{{ (products | async | getKey: productKey)?.title }}</a></h3>
            <div class="price">{{ (products | async | getKey: productKey)?.price | currency:'USD':true }}</div>
          </div>
        </md-card>
      </div>
    </span>
    <div class="grid-tile button-container">
      <span class="see-more">
        <button md-raised-button routerLink="/category/{{ categoryObject.slug }}">See more {{ categoryObject.name }}</button>
      </span>
    </div>
  </section>
</div>