.button-container h2 {
    display: inline-block;
}

.button-container button {
    float: right;
    margin: 18px 30px 30px 30px;
}

.user .content {
    display: inline-block;
    margin-top: 13px;
    vertical-align: top;
    width: calc(100% - 160px);
}

.user .active {
    display: inline-block;
    text-align: center;
    width: 150px;
}

.user .active button {
    margin-top: 10px;
}

.user-photo {
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    width: 45px;
}