<div class="container">
  <h3>Your Cart</h3>
  <md-toolbar class="cart-header">
    <div class="item">Item</div>
    <div class="price">Price</div>
    <div class="quantity">Qty</div>
    <div class="total">Total</div>
  </md-toolbar>
  <div class="no-items" *ngIf="cartArray.length === 0">No items in the cart. <a routerLink="/products">Keep shopping!</a></div>
  <md-card *ngFor="let item of cartArray">
    <div class="item">{{item.title}}</div>
    <div class="price">{{item.price | currency:'USD':true}}</div>
    <div class="quantity">
      <md-input-container>
        <input mdInput type="number" min="1" [(ngModel)]="item.quantity" (change)="updateCart(item)">
      </md-input-container>
    </div>
    <div class="total">{{item.total | currency:'USD':true}}</div>
    <div class="remove">
      <button md-raised-button (click)="removeItem(item)">Remove</button>
    </div>
  </md-card>
  <md-card class="checkout-cta" *ngIf="cartArray.length > 0">
    <h4 class="subtotal-label">Subtotal</h4>
    <h4 class="subtotal">{{cartTotal | currency:'USD':true}}</h4>
    <button md-raised-button routerLink="/checkout/shipping">Checkout</button>
  </md-card>
</div>