<md-card class="container">
  <h3>Payment Info</h3>
    <div>
      <md-input-container>
        <input mdInput placeholder="Credit Card Number" [(ngModel)]="newCreditCard.number">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="CCV" [(ngModel)]="newCreditCard.cvc">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="Month" [(ngModel)]="newCreditCard.exp_month" size="4">
      </md-input-container>
      /
      <md-input-container>
        <input mdInput placeholder="Year" [(ngModel)]="newCreditCard.exp_year" size="6">
      </md-input-container>
    </div>

  <button md-raised-button (click)="submitNewCreditCard()">Continue</button>
  <div class="error" *ngIf="newCreditCard.error">{{ newCreditCard.error }}</div>
</md-card>