<div class="post-form">
    <h1>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Post
    </h1>

    <md-input-container class="block">
        <input mdInput placeholder="Post URL (no slashes or spaces)" type="text" [(ngModel)]="newURL" required>
    </md-input-container>

    <div>
        <md-input-container>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="newDate" required>
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
    </div>

    <md-input-container class="block">
        <input mdInput placeholder="Title" [(ngModel)]="newTitle" required>
    </md-input-container>

    <md-input-container class="block">
        <input mdInput placeholder="Body text" [(ngModel)]="newBody" required>
    </md-input-container>

    <md-slide-toggle ngDefaultControl [(ngModel)]="newPublished">
        <span *ngIf="!newPublished">Publish</span>
        <span *ngIf="newPublished">Un-Publish</span>
    </md-slide-toggle>

    <button md-raised-button (click)="addPost(newURL, newDate, newTitle, newBody, newPublished)" class="block">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Edit</span>
        Post
    </button>
</div>