.product-form {
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
}

.submit {
    margin-top: 30px;
}

.mat-input-container,
.mat-raised-button {
    display: block;
}

.currency-label,
.price {
    display: inline-block;
}

.mat-slide-toggle,
ckeditor {
    display: block;
    margin-top: 30px;
}

.thumbnail {
    display: block;
    margin-top: 10px;
    width: 100px;
}

.mat-upload-button {
    margin-top: 10px;
}

.native-upload {
    display: none;
}

.no-image {
    font-size: 0.8em;
    margin: 5px 0 0 38px;
}

.delete-image {
    color: #ff0000;
    cursor: pointer;
    font-size: 0.8em;
    margin: 5px 0 0 0;
}