.main-header a {
    text-decoration: none;
}

.fill-space {
    flex: 1 1 auto;
}

.main-header ul li {
    display: inline-block;
    font-size: 0.9em;
    list-style-type: none;
    margin-left: 25px;
}

.user-photo {
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    transition: transform .3s ease-out;
    width: 45px;
}

.user-photo:hover {
    transform: scale(1.1);
}
