.main-header a {
    text-decoration: none;
}

.fill-space {
    flex: 1 1 auto;
}

.main-header ul li {
    display: inline-block;
    font-size: 0.9em;
    list-style-type: none;
    margin-left: 25px;
}

