<md-toolbar *ngIf="!router.url.includes('/admin')" class="main-header">
    <h2><a routerLink="/">{{ (theme | async)?.siteName }}</a></h2>
    <span class="fill-space"></span>
    <ul>
        <span *ngFor="let item of nav | async">
            <li *ngIf="item.label && item.label !== '' && item.url && item.url !== ''">
                <a routerLink="{{item.url}}">{{item.label}}</a>
            </li>
        </span>
        <li>
        <cart-icon></cart-icon>
    </ul>
</md-toolbar>
<router-outlet></router-outlet>
