<md-toolbar *ngIf="!router.url.includes('/admin')" class="main-header">
    <h2><a routerLink="/">{{ (theme | async)?.siteName }}</a></h2>
    <span class="fill-space"></span>
    <ul>
        <span *ngFor="let item of nav | async">
            <li *ngIf="item.label && item.label !== '' && item.url && item.url !== ''">
                <a routerLink="{{item.url}}">{{item.label}}</a>
            </li>
        </span>
        <li>
            <cart-icon></cart-icon>
        </li>
        <li *ngIf="(user | async)?.uid">
            <img src="{{ (user | async)?.photoURL }}" class="user-photo">
        </li>
        <li>
            <button md-raised-button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
            <button md-raised-button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
        </li>
    </ul>
</md-toolbar>
<router-outlet></router-outlet>
