<div class="container">
  <md-card routerLink="/blog/{{post.url}}" class="post" *ngFor="let post of posts | async  | search: searchTerm | sort:['-date']">
    <img [src]="getPostImage(post)">
    <div class="post-content">
      <h3><a routerLink="/blog/{{post.url}}">{{post.title}}</a></h3>
      <div class="date">{{post.date | date }}</div>
      <p><span [innerHTML]="post.body | truncate: 200 "></span>
      <button md-button routerLink="/blog/{{post.url}}">Read More</button>
      </p>
    </div>
  </md-card>
  <p class="block-center" *ngIf="searchTerm && !(posts | async | search: searchTerm)?.length">No posts</p>
</div>