<md-toolbar>
    <h3>FireCMS</h3>
    <span class="fill-space"></span>
    <div class="login">
        <img src="{{ (user | async)?.photoURL }}" class="user-photo">
        <button md-raised-button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </div>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <md-list>
            <md-list-item><a routerLink="/admin">Dashboard</a></md-list-item>
            <md-list-item><a routerLink="/admin/posts">Posts</a></md-list-item>
            <md-list-item><a routerLink="/admin/pages">Pages</a></md-list-item>
            <!--<md-list-item>Navigation</md-list-item>
            <md-list-item>Theme</md-list-item>-->
            <md-list-item><a routerLink="/admin/users">Users</a></md-list-item>
        </md-list>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>

