.admin-photo {
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    transition: transform .3s ease-out;
    width: 45px;
}

.admin-photo:hover {
    transform: scale(1.1);
}

md-sidenav {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    width: 300px;
}

.mat-sidenav-container {
    height: 100vh;
}

.admin-nav md-list-item {
    cursor: pointer;
    transition: background .2s ease-out;
}

.admin-nav md-list-item:hover,
.admin-nav md-list-item.selected {
    background: #eee;
    outline: 0;
}

.container {
    float: right;
    width: 77%;
}