.block {
    display: block;
}

.fill-space {
    flex: 1 1 auto;
}

.user-photo {
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    width: 45px;
}

md-sidenav {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    width: 300px;
}

.mat-sidenav-container {
    height: 100vh;
}

.admin-nav md-list-item {
    cursor: pointer;
    transition: background .2s ease-out;
}

.admin-nav md-list-item:hover,
.admin-nav md-list-item.selected {
    background: #eee;
    outline: 0;
}