@import '../../../../variables.scss';

.order {
    cursor: pointer;

    .order-info {
        display: inline-block;
        width: 100%;

        @include tablet {
            width: calc(100% - 220px);
        }

        h3 {
            margin-top: 0;
        }
    }

    .actions {
        text-align: right;
        width: 100%;

        @include tablet {
            display: inline-block;
            float: none;
            text-align: center;
            vertical-align: top;
            width: 210px;
        }
    }

    .totals {
        float: right;
    }

    .mat-raised-button {
        margin-top: 17px;
    }
}

.user-photo {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
}

.price {
    color: $color-grey;
    font-size: 0.8em;
}
