@import "../variables";

.products-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 90px;

    .grid-tile {
        height: 300px;
        margin: 0 0 10px 0;
        width: 25%;

        .mdc-card {
            color: #2e2e2e;
            margin: 0 10px;
            padding: 20px;

            img {
                height: 170px;
                object-fit: contain;
                width: 100%;
            }
        }
    }
}
