<div class="customer-form">
    <h2>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Customer
    </h2>

    <md-input-container class="block">
        <input mdInput placeholder="Customer email" type="text" [(ngModel)]="newEmail">
    </md-input-container>

    <button md-raised-button (click)="addCustomer(newEmail)" class="block">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Save</span>
        Customer
    </button>
</div>