.post img {
    display: inline-block;
    margin-right: 20px;
    max-width: 150px;
}

.post .post-content {
    display: inline-block;
    vertical-align: top;
}

.post .date {
    color: #999;
    font-size: 0.8em;
}