@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import "./variables";

html, body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
div,
a,
button,
.mdc-button {
    font-family: 'Roboto Mono', monospace !important;
}

a {
  text-decoration: none;
}

.mobile-only {
  display: none;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.user-photo {
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  margin-right: 30px;
  width: 50px;
}

.login {
  margin-right: 10px;
}

.mdc-toolbar {
  background-color: $color-white !important;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, .1);
  color: $color-grey;
  position: fixed;
  top: 0;
  z-index: 1;

  a {
      @extend %transition;
      color: $color-grey;
      transition-property: color;

      &:hover,
      &.color-main {
          color: $color-main;
      }
  }

  .mdc-toolbar__icon--menu + h1.mdc-toolbar__title {
    margin: 0 0 0 30px;

    a {
      color: $color-main;
      font-weight: 800;
    }
  }

  .nav-item {
    margin: 15px 25px 0 0;
  }

  .mat-raised-button {
      background: $color-white;

      .mat-button-wrapper {
          color: $color-main;
      }
  }

  .cart-icon {
    margin: 15px 25px 0 0;
  }

  &.highlight {
      background: $color-main;
      box-shadow: none;
      color: $color-white;
      position: static;

      &.small {
          height: 30px;
          min-height: 30px;

          .mat-toolbar-row {
              height: 30px;
              font-size: .7em;
          }
      }
  }

  .user-menu {
    right: 20px;
    top: 80px;

    a li {
      color: $color-main;
    }
  }

  .mdc-button {
    margin-top: 5px;
  }
}

.mdc-snackbar__action-button {
  color: $color-white !important;
  margin-left: 10px !important;
}

.form-container {
  box-sizing: border-box;
  display: block;
  margin: 90px auto 30px auto;
  max-width: 600px;
  padding: 30px;

  .mdc-textfield {
    display: block;
    margin: 15px 0;
  }

  .mdc-select {
    display: block;
    margin: 5px 0 20px 0;
    width: 100% !important;
  }

  .mdc-button {
    float: right;
    margin-top: 10px;
    width: 150px;
  }
}