@import '../../../variables.scss';

.button-container {
    h2 {
        display: inline-block;
    }

    button {
        float: right;
        margin: 18px 30px 30px 30px;
    }
}

.product {
    .content {
        display: inline-block;
        width: calc(100% - 410px);

        h3 {
            margin: 0 0 10px 0;
        }

        .price {
            color: $color-grey;
            font-size: .8em;
        }
    }

    .publish {
        float: right;
        margin-top: 10px;
        text-align: right;
        vertical-align: top;
        width: 400px;
    }
}

.mat-slide-toggle {
    margin: 0 20px 0 45px;
    width: 130px;
}

.edit {
    display: inline-block;
    text-align: center;
}