<div class="post-form">
    <h2>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Post
    </h2>

    <md-toolbar class="highlight small" *ngIf="awaitingApproval" routerLink="/admin/approvals">
        This post has a change awaiting moderation
        <div class="action">
            View Approvals
        </div>
    </md-toolbar>

    <md-input-container class="block">
        <input mdInput placeholder="Post URL (no slashes, spaces or special characters)" type="text" [(ngModel)]="newURL">
    </md-input-container>

    <div>
        <md-input-container>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="newDate" (focus)="picker.open()">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
    </div>

    <md-input-container class="block">
        <input mdInput placeholder="Title" [(ngModel)]="newTitle">
    </md-input-container>

    <button md-raised-button class="mat-upload-button" onclick="document.getElementById('uploadImage').click()">
        <span *ngIf="!imageUrl">Upload</span>
        <span *ngIf="imageUrl">Change</span>
        Featured Image
    </button>
    <input type="file" id="uploadImage" name="thumbnail" class="native-upload" (change)="handleFiles($event)" accept="image/*">
    <img [src]="imageUrl" *ngIf="imageUrl" class="thumbnail">
    <div class="no-image" *ngIf="!imageUrl">No image chosen</div>
    <div (click)="deleteImage()" *ngIf="imageUrl" class="delete-image">Delete Image</div>

    <ckeditor
        [(ngModel)]="newBody"
        [config]="{uiColor: '#FFFFFF', extraPlugins: 'divarea'}"
        [readonly]="false">
    </ckeditor>

    <md-slide-toggle ngDefaultControl [(ngModel)]="newPublished">
        <span *ngIf="!newPublished">Publish</span>
        <span *ngIf="newPublished">Un-Publish</span>
    </md-slide-toggle>

    <button
        md-raised-button
        (click)="approveItem(newURL, newDate, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span>Approve</span>
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newURL, newDate, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Save Draft
    </button>

    <button
        md-raised-button
        (click)="deleteItem($event)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Delete Draft
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newURL, newDate, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="!router.url.includes('approval')">
        <span>Submit for Moderation</span>
    </button>

    <button
        md-raised-button
        (click)="addPost(newURL, newDate, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="!router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Save</span>
        Post
    </button>
</div>