<div class="container">
    <h2>Admin Dashboard</h2>
    <md-card>
        <h4 *ngIf="posts | async">{{ (posts | async).length }} Posts</h4>
        <button md-raised-button routerLink="/admin/add-post">Add a Post</button>
    </md-card>
    <md-card>
        <h4 *ngIf="pages | async">{{ (pages | async).length }} Pages</h4>
        <button md-raised-button routerLink="/admin/add-page">Add a Page</button>
    </md-card>
    <md-card>
        <h4 *ngIf="products | async">{{ (products | async).length }} Products</h4>
        <button md-raised-button routerLink="/admin/add-product">Add a Product</button>
    </md-card>
    <md-card>
        <h4 *ngIf="users | async">{{ (users | async).length }} Users</h4>
        <button md-raised-button routerLink="/admin/add-user">Add a User</button>
    </md-card>
</div>