@import '../../../../variables.scss';

.container {
    margin: 10px 30px 30px 30px;
    max-width: 100%;

    @include tablet {
        margin: 30px auto;
        max-width: 600px;
    }
}

.mat-input-container,
.mat-select {
    display: block;
}

.mat-select {
    margin: 20px auto 21px auto;
}
