{{#if orders}}
    <div class="orders">
        <h2>My Orders</h2>
        {{#each orders}}
            <a href="/account/order/{{@key}}">
                <div class="mdc-card order">
                    <h4>#{{@key}}</h4>
                    <p>{{this}}</p>
                </div>
            </a>
        {{/each}}
    </div>
{{/if}}
