
.orders {
    box-sizing: border-box;
    margin-top: 90px;
    padding: 0 30px 20px 30px;

    h2 {
        text-align: center;
    }

    .order {
        box-sizing: border-box;
        display: block;
        margin: 0 auto 5px auto;
        padding: 30px;

        h4 {
            color: #2e2e2e;
            margin: 0 0 5px 0;
        }

        p {
            color: #2e2e2e;
            margin-bottom: 0;
        }
    }
}