<div class="container">
    <div class="button-container">
        <h2>Posts</h2>
        <button md-raised-button routerLink="/admin/add-post">Add a Post</button>
    </div>
    <md-card class="post" *ngFor="let post of posts | async | sort:['-date']">
        <div class="content">
            <h3><a routerLink="/blog/{{post.url}}" target="_blank">{{post.title}}</a></h3>
            <div class="date">{{post.date | date }}</div>
        </div>
        <div class="publish">
            <md-slide-toggle ngDefaultControl (change)="onChange($event, post.$key)" [(ngModel)]="post.published" *ngIf="currentAdmin.role !== 'editor'">
                <span *ngIf="!post.published">Publish</span>
                <span *ngIf="post.published">Un-Publish</span>
            </md-slide-toggle>
            <div class="edit">
                <button md-raised-button (click)="editPost(post.$key)">
                    Edit
                </button>
                <button md-raised-button (click)="deletePost(post)" *ngIf="currentAdmin.role !== 'editor'">
                    Delete
                </button>
            </div>
        </div>
    </md-card>
</div>