<div class="container">
  <div class="button-container">
      <h2>Approvals</h2>
  </div>
  <p *ngIf="(productApprovals | async)?.length === 0 && (pageApprovals | async)?.length === 0 && (postApprovals | async)?.length === 0 && (categoryApprovals | async)?.length === 0"
    class="center">
    Nothing to approve at this time
  </p>
  <md-toolbar class="highlight" *ngIf="(productApprovals | async)?.length > 0">
    <div>
      Product
    </div>
    <div>
      Update date
    </div>
    <div>
      Updated by
    </div>
  </md-toolbar>
  <section class="approval-category">
    <md-card *ngFor="let product of productApprovals | async" class="approval" routerLink="/admin/product-approval/{{ product.key }}">
      <div class="content">
        <a routerLink="/admin/product-approval/{{ product.key }}">{{ product.payload.val().title }}</a>
        <div class="date">
          {{ product.payload.val().dateUpdated | date }}
        </div>
        <div class="updated-by">
          {{ (users | async | getUser: product.payload.val().updatedBy)?.email }}
        </div>
        <div class="actions">
          <button
            md-raised-button
            (click)="approveItem($event, 'products', product)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
            Approve
          </button>
          <button
            md-raised-button
            (click)="deleteItem($event, 'products', product.key)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin') || product.payload.val().updatedBy === currentAdmin.uid">
            Delete
          </button>
        </div>
      </div>
    </md-card>
  </section>

  <md-toolbar class="highlight" *ngIf="(categoryApprovals | async)?.length > 0">
    <div>
      Category
    </div>
    <div>
      Update date
    </div>
    <div>
      Updated by
    </div>
  </md-toolbar>
  <section class="approval-category">
    <md-card *ngFor="let category of categoryApprovals | async" class="approval" routerLink="/admin/category-approval/{{ category.key }}">
      <div class="content">
        <a routerLink="/admin/category-approval/{{ category.key }}">{{ category.payload.val().name }}</a>
        <div class="date">
          {{ category.payload.val().dateUpdated | date }}
        </div>
        <div class="updated-by">
          {{ (users | async | getUser: category.payload.val().updatedBy)?.email }}
        </div>
        <div class="actions">
          <button
            md-raised-button
            (click)="approveItem($event, 'categories', category)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
            Approve
          </button>
          <button
            md-raised-button
            (click)="deleteItem($event, 'categories', category.key)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin') || category.payload.val().updatedBy === currentAdmin.uid">
            Delete
          </button>
        </div>
      </div>
    </md-card>
  </section>

  <md-toolbar class="highlight" *ngIf="(pageApprovals | async)?.length > 0">
    <div>
      Page
    </div>
    <div>
      Update date
    </div>
    <div>
      Updated by
    </div>
  </md-toolbar>
  <section class="approval-category">
    <md-card *ngFor="let page of pageApprovals | async" class="approval" routerLink="/admin/page-approval/{{ page.key }}">
      <div class="content">
        <a routerLink="/admin/page-approval/{{ page.key }}">{{ page.payload.val().title }}</a>
        <div class="date">
          {{ page.payload.val().dateUpdated | date }}
        </div>
        <div class="updated-by">
          {{ (users | async | getUser: page.payload.val().updatedBy)?.email }}
        </div>
        <div class="actions">
          <button
            md-raised-button
            (click)="approveItem($event, 'pages', page)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
            Approve
          </button>
          <button
            md-raised-button
            (click)="deleteItem($event, 'pages', page.key)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin') || page.payload.val().updatedBy === currentAdmin.uid">
            Delete
          </button>
        </div>
      </div>
    </md-card>
  </section>

  <md-toolbar class="highlight" *ngIf="(postApprovals | async)?.length > 0">
    <div>
      Post
    </div>
    <div>
      Update date
    </div>
    <div>
      Updated by
    </div>
  </md-toolbar>
  <section class="approval-category">
    <md-card *ngFor="let post of postApprovals | async" class="approval" routerLink="/admin/post-approval/{{ post.key }}">
      <div class="content">
        <a routerLink="/admin/post-approval/{{ post.key }}">{{ post.payload.val().title }}</a>
        <div class="date">
          {{ post.payload.val().dateUpdated | date }}
        </div>
        <div class="updated-by">
          {{ (users | async | getUser: post.payload.val().updatedBy)?.email }}
        </div>
        <div class="actions">
          <button
            md-raised-button
            (click)="approveItem($event, 'posts', post)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
            Approve
          </button>
          <button
            md-raised-button
            (click)="deleteItem($event, 'posts', post.key)"
            *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin') || post.payload.val().updatedBy === currentAdmin.uid">
            Delete
          </button>
        </div>
      </div>
    </md-card>
  </section>
</div>