<div class="container">
    <div class="button-container">
        <h2>Admins</h2>
        <button md-raised-button routerLink="/admin/add-admin">Add an Admin</button>
    </div>
    <span *ngFor="let admin of admins | async">
        <md-card class="admin" *ngIf="admin.active || (!admin.active && countAdmin(admin.email) === 1)" routerLink="/admin/edit-admin/{{admin.$key}}">
            <div class="content">
                <img src="{{ admin.photoURL }}" class="admin-photo" *ngIf="admin.photoURL">
                <img src="..//../../assets/placeholder.jpg" class="admin-photo" *ngIf="!admin.photoURL">
                {{admin.email}}
            </div>
            <div class="active">
                <div>
                    {{ admin.role }}
                    <span>
                        (<span *ngIf="admin.uid" class="active-user">active</span><span *ngIf="!admin.uid" class="inactive-user">inactive</span>)
                    </span>
                </div>
                <button md-raised-button routerLink="/admin/edit-admin/{{admin.$key}}">
                    Edit
                </button>
                <button md-raised-button (click)="deleteAdmin($event, admin.$key)">Delete</button>
            </div>
        </md-card>
    </span>
</div>