<div class="container">
    <div class="button-container">
        <h2>Customers</h2>
        <button md-raised-button routerLink="/admin/add-customer">Add a Customer</button>
    </div>
    <md-card routerLink="/admin/customer/{{ customer.$key }}" class="customer" *ngFor="let customer of customers | async">
        <div class="content">
            <a routerLink="/admin/customer/{{ customer.$key }}">
                <img src="{{ customer.photoURL }}" class="customer-photo" *ngIf="customer.photoURL">
                <img src="../../assets/placeholder.jpg" class="customer-photo" *ngIf="!customer.photoURL">
                <span *ngIf="customer.email">{{customer.email}}</span>
                <span *ngIf="!customer.email">Guest Customer</span>
            </a>
        </div>
        <div class="active">
            <span>{{customer.orders | objectCount}} orders</span>
            <button md-raised-button routerLink="/admin/edit-customer/{{customer.uid}}">
                Edit
            </button>
            <button md-raised-button (click)="deleteCustomer($event, customer.$key)" *ngIf="currentAdmin.role !== 'editor'">
                Delete
            </button>
        </div>
    </md-card>
</div>