{{#if product}}
    <div class="product-container">
        <div class="product-image">
            <img src="{{product.thumbnail}}">
        </div>
        <div class="product-info">
            <h2>{{product.title}}</h2>
            ${{product.price}}
            {{{product.description}}}
            <div class="mdc-textfield mdc-textfield--upgraded">
                <div class="quantity-label">
                    Qty
                </div>
                <input type="number" class="mdc-textfield__input product-quantity" value="1">
            </div>
            <button class="mdc-button mdc-button--raised add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="mdc-snackbar"
        aria-live="assertive"
        aria-atomic="true"
        aria-hidden="true">
        <div class="mdc-snackbar__text"></div>
        <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
        </div>
    </div>

    <script>
        product = {{#json product}}{{/json}};
        cart = {{#json cart}}{{/json}};
    </script>
{{/if}}
