{{#if product}}
    <div class="product-container">
        <div class="product-image">
            <img src="{{product.thumbnail}}">
        </div>
        <div class="product-info">
            <h2>{{product.title}}</h2>
            ${{product.price}}
            {{{product.description}}}
        </div>
    </div>
{{/if}}
