.product-container {
    display: block;
    margin: 90px 30px 30px 30px;

    .product-info,
    .product-image {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }

    .product-info {
        box-sizing: border-box;
        padding: 30px;

        .quantity-label {
            display: inline-block;
            margin-right: 15px;
        }

        .mdc-textfield__input {
            transform: translateY(8px);
            width: 45px;
        }
    }
}