{{#if product}}
    <div class="product-container">
        <div class="product-image">
            <img src="{{product.thumbnail}}">
        </div>
        <div class="product-info">
            <h2>{{product.title}}</h2>
            ${{product.price}}
            {{{product.description}}}
            <button class="mdc-button mdc-button--raised add-to-cart">Add to Cart</button>
        </div>
    </div>

    <script>
        product = {{#json product}}{{/json}}
    </script>
{{/if}}
