/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    font-family: 'Roboto', Arial, sans serif;
    margin: 0;
}

a {
    color: #00D4D4;
    text-decoration: none;
}

.mat-toolbar {
    background: #00D4D4;
    color: #fff;
}

.mat-toolbar a {
    color: #fff;
}

.mat-toolbar .mat-raised-button {
    background: #fff;
}

.mat-toolbar .mat-button-wrapper {
    color: #00D4D4;
}

.mat-raised-button {
    background: #00D4D4;
}

.mat-button-wrapper {
    color: #fff;
}

.mat-raised-button.bw {
    background: #fff;
}

.mat-raised-button.bw .mat-button-wrapper {
    color: #333;
}

.container {
    box-sizing: border-box;
    padding: 30px;
}

.mat-card {
    margin-bottom: 5px;
}

.block {
    display: block;
}

.fill-space {
    flex: 1 1 auto;
}

.center {
    text-align: center;
}

/*dnd*/
.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}