<div class="product-form">
    <h2>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Product
    </h2>

    <md-input-container class="block">
        <input mdInput placeholder="Title" [(ngModel)]="newTitle">
    </md-input-container>

    <div class="currency-label">$</div>
    <md-input-container class="price">
        <input mdInput type="number" step="0.01" placeholder="Price" [(ngModel)]="newPrice">
    </md-input-container>

    <md-select placeholder="Product Category" [(ngModel)]="newCategory">
        <md-option value="">No category</md-option>
        <md-option *ngFor="let category of categories | async" [value]="category.$key">{{ category.name }}</md-option>
    </md-select>

    <button md-raised-button class="mat-upload-button" onclick="document.getElementById('uploadImage').click()">
        <span *ngIf="!newThumbnail">Upload</span>
        <span *ngIf="newThumbnail">Change</span>
        Featured Image
    </button>
    <input type="file" id="uploadImage" name="thumbnail" class="native-upload" (change)="handleFiles($event)">
    <img [src]="newThumbnail" *ngIf="newThumbnail" class="thumbnail">
    <div class="no-image" *ngIf="!newThumbnail">No image chosen</div>
    <div (click)="deleteImage()" *ngIf="newThumbnail" class="delete-image">Delete Image</div>

    <ckeditor
        [(ngModel)]="newDescription"
        [config]="{uiColor: '#FFFFFF', extraPlugins: 'divarea'}"
        [readonly]="false">
    </ckeditor>


    <md-slide-toggle ngDefaultControl [(ngModel)]="newPublished">
        <span *ngIf="!newPublished">Publish</span>
        <span *ngIf="newPublished">Un-Publish</span>
    </md-slide-toggle>

    <button
        md-raised-button
        (click)="addProduct(newTitle, newPrice, newCategory, newDescription, newPublished, false)"
        class="submit"
        *ngIf="!router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Save</span>
        Product
    </button>

    <button
        md-raised-button
        (click)="approveItem(newTitle, newPrice, newCategory, newDescription, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span>Approve</span>
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newTitle, newPrice, newCategory, newDescription, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Save Draft
    </button>

    <button
        md-raised-button
        (click)="deleteItem($event)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Delete Draft
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newTitle, newPrice, newCategory, newDescription, newPublished)"
        class="submit"
        *ngIf="!router.url.includes('approval')">
        <span>Submit for Moderation</span>
    </button>
</div>