@import '../../../../variables.scss';

.cart-icon {
    @extend %transition;
    cursor: pointer;
    transform: translateY(8px);
    transition-property: color;

    @include tablet {
        transform: translateY(5px);
    }

    &:hover {
        color: $color-main;
    }
}

.icon-container {
    display: inline-block;
    position: relative;
}

.cart-counter {
    bottom: 2px;
    color: $color-white;
    font-size: 8px;
    pointer-events: none;
    position: absolute;
    right: 9px;

    @include tablet {
        bottom: 5px;
    }
}
