.order .order-info {
    display: inline-block;
    width: calc(100% - 220px);
}

.order .actions {
    display: inline-block;
    text-align: center;
    width: 210px;
}

.user-photo {
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
}

.price {
    color: #999;
    font-size: 0.8em;
}

.order .totals {
    float: right;
}

.order .mat-raised-button {
    margin-top: 10px;
}