@import '../../../variables.scss';

.order {
    .order-info {
        display: inline-block;
        width: 45%;

        @include tablet {
            width: calc(100% - 220px);
        }

        h3 {
            margin-top: 0;

            @include tablet {
                margin-top: 1em;
            }
        }
    }

    .actions {
        display: inline-block;
        float: right;
        text-align: right;
        width: 45%;

        @include tablet {
            float: none;
            text-align: center;
            width: 210px;
        }
    }

    .totals {
        float: right;
    }

    .mat-raised-button {
        margin-top: 10px;
    }
}

.user-photo {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
}

.price {
    color: $color-grey;
    font-size: 0.8em;
}