h3,
.no-items {
    text-align: center;
}

.cart-header {
    margin-bottom: 10px;
}

.item {
    display: inline-block;
    width: 40%;
}

.price,
.quantity,
.total {
    display: inline-block;
    width: 15%;
}

.quantity .mat-input-container {
    width: 35px;
}

.remove {
    display: inline-block;
    width: 5%;
}

.checkout-cta {
    float: right;
    margin-top: 20px;
    width: 300px;
}

.checkout-cta button {
    display: block;
    float: right;
}

.subtotal-label,
.subtotal {
    display: inline-block;
    width: 48%;
}

.subtotal {
    text-align: right;
}

.hide {
    display: none;
}

.no-padding {
    padding: 20px 0 0 0;
}