@import '../../../variables.scss';

h3,
.no-items {
    text-align: center;
}

.cart-header {
    display: none;
    margin-bottom: 10px;

    @include tablet {
        display: block;
    }
}

.item {
    display: block;
    width: 100%;

    @include tablet {
        display: inline-block;
        width: 40%;
    }
}

.price,
.quantity,
.total {
    display: inline-block;
    width: 45%;

    @include tablet {
        width: 15%;
    }
}

.total {
    display: none;

    @include tablet {
        display: inline-block;
    }
}

.quantity {
    position: relative;
    text-align: right;

    @include tablet {
        text-align: left;
    }

    .quantity-label {
        color: $color-grey;
        display: inline-block;
        font-size: .8em;
        position: absolute;
        right: 40px;
        top: 0px;

        @include tablet {
            display: none;
        }
    }

    .mat-input-container {
        width: 35px;
    }
}

.remove {
    display: block;
    text-align: center;
    width: 100%;

    @include tablet {
        display: inline-block;
        text-align: left;
        width: 5%;
    }
}

.checkout-cta {
    box-sizing: border-box;
    float: right;
    margin-top: 20px;
    width: 100%;

    @include tablet {
        width: 300px;
    }

    button {
        display: block;
        float: right;
    }
}

.subtotal-label,
.subtotal {
    display: inline-block;
    width: 48%;
}

.subtotal {
    text-align: right;
}

.hide {
    display: none;
}

.no-padding {
    padding: 20px 0 0 0;
}