<div class="page-form">
    <h2>
        <span *ngIf="!editMode">Add a</span>
        <span *ngIf="editMode">Edit</span>
        Page
    </h2>

    <md-toolbar class="highlight small" *ngIf="awaitingApproval" routerLink="/admin/product-approval/{{ awaitingApproval }}">
        This product has a change awaiting moderation
        <div class="action">
            View Product Approval
        </div>
    </md-toolbar>

    <md-input-container class="block">
        <input mdInput placeholder="Page URL (no slashes, spaces or special characters)" type="text" [(ngModel)]="newURL">
    </md-input-container>

    <md-input-container class="block">
        <input mdInput placeholder="Title" [(ngModel)]="newTitle">
    </md-input-container>

    <ckeditor
        [(ngModel)]="newBody"
        [config]="{uiColor: '#FFFFFF', extraPlugins: 'divarea'}"
        [readonly]="false">
    </ckeditor>

    <md-slide-toggle ngDefaultControl [(ngModel)]="newPublished">
        <span *ngIf="!newPublished">Publish</span>
        <span *ngIf="newPublished">Un-Publish</span>
    </md-slide-toggle>

    <button
        md-raised-button
        (click)="addPage(newURL, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="!router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Save</span>
        Page
    </button>

    <button
        md-raised-button
        (click)="approveItem(newURL, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && currentAdmin.role !== 'editor'">
        <span>Approve</span>
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newURL, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Save Draft
    </button>

    <button
        md-raised-button
        (click)="deleteItem($event)"
        class="submit"
        *ngIf="router.url.includes('approval') && entityObject && (currentAdmin.role !== 'editor' || currentAdmin.uid === entityObject.updatedBy)">
        Delete Draft
    </button>

    <button
        md-raised-button
        (click)="submitForModeration(newURL, newTitle, newBody, newPublished)"
        class="submit"
        *ngIf="!router.url.includes('approval')">
        <span>Submit for Moderation</span>
    </button>
</div>