<div class="mdc-card form-container checkout-shipping">
    <h3>Shipping Info</h3>
    <div class="mdc-textfield">
        <input class="mdc-textfield__input name" placeholder="Name (first & last)">
    </div>
    <div class="mdc-textfield">
        <input class="mdc-textfield__input company" placeholder="Company (optional)">
    </div>
    <div class="mdc-textfield">
        <input class="mdc-textfield__input email" placeholder="Email">
    </div>
    <div class="mdc-textfield">
        <input class="mdc-textfield__input address" placeholder="Address">
    </div>
    <div class="mdc-textfield">
        <input class="mdc-textfield__input city" placeholder="City">
    </div>
    <div class="mdc-select" role="listbox" tabindex="0">
        <span class="mdc-select__selected-text">State</span>
        <div class="mdc-simple-menu mdc-select__menu">
            <ul class="mdc-list mdc-simple-menu__items">
                <li class="mdc-list-item" role="option" id="state" aria-disabled="true">
                    State
                </li>
                <li class="mdc-list-item" role="option" id="AL" tabindex="0">
                    Alabama
                </li>
                <li class="mdc-list-item" role="option" id="AK" tabindex="0">
                    Alaska
                </li>
                <li class="mdc-list-item" role="option" id="AS" tabindex="0">
                    American Samoa
                </li>
                <li class="mdc-list-item" role="option" id="AZ" tabindex="0">
                    Arizona
                </li>
            </ul>
        </div>
    </div>
    <div class="mdc-textfield zip">
        <input class="mdc-textfield__input" placeholder="Zip Code">
    </div>
    <button class="mdc-button md-button--raised continue">Continue</button>
</div>