@import '../../../variables.scss';

.mat-card {
    cursor: pointer;
    height: 70%;
    text-align: center;
    width: 80%;

    .mat-icon {
        color: $color-main;
        font-size: 3em;
        width: 100%;
    }
}