<div class="button-container">
    <button md-raised-button routerLink="/admin/add-page">Add a Page</button>
</div>
<md-card class="page" *ngFor="let page of pages | async | sort:['title']">
    <div class="content">
        <h3>{{page.title}}</h3>
        <p>{{page.body}}</p>
    </div>
    <div class="publish">
        <md-slide-toggle ngDefaultControl (change)="onChange($event, page.$key)" [(ngModel)]="page.published">
            <span *ngIf="!page.published">Publish</span>
            <span *ngIf="page.published">Un-Publish</span>
        </md-slide-toggle>
        <div class="edit">
            <button md-raised-button (click)="editPage(post.$key)">
                Edit
            </button>
            <button md-raised-button (click)="deletePage(post.$key)">
                Delete
            </button>
        </div>
    </div>
</md-card>