@import 'variables';

.page-form {
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
}

.highlight.small {
    cursor: pointer;
    margin-bottom: 30px;
    opacity: .7;

    .action {
        color: $color-white;
        font-weight: 800;
        margin-left: auto;
    }
}

.submit {
    display: inline-block;
    margin: 30px 10px 0 0;
}

.mat-input-container {
    display: block;
}

.mat-slide-toggle,
ckeditor {
    display: block;
    margin-top: 30px;
}
